@media screen and (min-width: 1931px) {

    .container{
        padding: 0 1.5rem;
    }

    .mvs_pagination{
        padding: 0 1.5rem;
    }
}

@media screen and (max-width: 1930px) {
    
    .mab_container.container{
        padding: 0;
        max-width: 100%;
    }

    .mvs_pagination{
    }
}


@media screen and (min-width: 1800px) {
    
    .main_txt_divider h2{
        font-size: 12.5rem;
    }

    .main_txt_divider h2 span{
        font-size: 11.875rem;
    }

    .about_list_slide .swiper-slide a{
        padding: 12.5rem 0;
    }

    .als_arrow{
        width: 5rem;
        height: 5rem;
    }

    .als_txt ul li span{
        font-size: 1.125rem;
    }

    /* .mvs_pagination{
        padding: 2.75rem;
    } */
}

@media screen and (max-width: 1840px){

    .mvs_container.container{
        padding: 0;
    }

    .container{
        padding: 0 1.5rem;
    }

    .mvs_pagination{
        width: 100%;
        padding: 0 1.25rem;
        margin: 0;
    }

    .altp_txt h3,
    .als_txt h3{
        font-size: 1.875rem;
    }


}

@media screen and (min-width: 1300px){

    .about_list_slide .swiper-slide{
        width: 25%;
    }

    .about_list_slide .swiper-slide:nth-child(4){
        border-right: 0px;
    }

}