
:root{
    --color1-: #009944;
    --Font1-: "Cormorant Garamond", serif;
    --Font2-: "Manrope", sans-serif;
}

body{
    font-family: 'Pretendard', sans-serif;
}

.container{
    max-width: 1840px;
    margin: 0 auto;
    height: 100%;
}

.section_tit .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#wrap{
    width: 100%;
    height: 100%;
}

section{
    padding-top: 11.25rem;
}

/* header */

#header{
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 1000;
    background: #fff;
    transition: height .6s 0s ease, box-shadow .1s 0s ease, background 0.3s, transform 0.5s;
}

.navActive #header{
    height: 490px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.07);
    transition: height .6s 0s ease, box-shadow .3s 0.4s ease;
}

#header.headerActive{
    background: transparent;
}

#header::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 90px;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.07);
    opacity: 0;
    transition: all .3s ease;
    transition-delay: 0s;
}

.navActive #header::before{
    opacity: 1;
    transition-delay: 0.25s;
}

#header::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    width: 100%;
    height: 490px;
    background: #fff;
    transition: transform .6s, opacity .3s;
    z-index: -1001;
}

.navActive #header:after{
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transition: transform .6s, opacity 1s;
}

.header_box{
    position: relative;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
}

.logo{
    margin-top: -3px;
}

.logo a{
    display: block;
}

.logo a svg{
    width: 210px;
    height: auto;
}

.logo a svg .logoTxt{
    transition: all .3s ease;
}

.headerActive .logo a svg .logoTxt{
    fill: #fff !important;
    stroke: #fff;
}

.navActive .logo a svg .logoTxt{
    fill: #595758 !important;
}

.header_content{
    width: 100%;
    height: 100%;
    display: flex;
}

.nav_box{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#nav{
    flex: 0 1 auto;
    height: 100%;
    transition: all .6s ease;
}

#nav:focus,
#nav:hover{
    flex: 1 1 auto;
}

.nav_floor1{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

#nav:hover .nav_floor1{
    width: 100%;
}

.nav_floor1 > li{
    position: relative;
    flex: 1 1 0;
    width: max-content;
    height: 100%;
    transition: all .6s ease;
}

#nav:hover .nav_floor1 > li{
    flex: 1 0 0;
}

.nav_floor1 > li > a{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
    padding: 0 30px;
    white-space: nowrap;
    transition: color 0.5s;
    letter-spacing: -0.1px;
}

.nav_floor1 > li:focus > a,
.nav_floor1 > li:hover > a{
    color: var(--color1-);
}

.navActive .nav_floor1 > li > a{
    color: #000 !important;
}

.headerActive .nav_floor1 > li > a{
    color: #fff;
}

.nav_floor1 > li > a::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    width: 100%;
    height: 2px;
    background: var(--color1-);
    transition: all .5s;
    transform-origin: center;
}

.nav_floor1 > li:focus > a::after,
.nav_floor1 > li:hover > a::after{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}

.nav_floor2{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 400px;
    padding: 14px 0;
    transition: background 0.5s 0s;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    opacity: 0;
    animation: navFade 0.8s forwards;
    animation-delay: 0s;
}

.navActive .nav_floor2{
    transition: background 0.5s 0s;
    /* animation: navFade 0.3s; */
}

@keyframes navFade {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.nav_floor1 > li:first-child > .nav_floor2{
    border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.nav_floor1 > li:focus .nav_floor2,
.nav_floor1 > li:hover .nav_floor2{
    background: rgba(0, 153, 68, 0.04);
}

.nav_floor2 > li{
    width: 100%;
}

.nav_floor2 > li > a{
    display: inline-block;
    width: 100%;
    padding: 12px 17px;
    font-size: 16px;
    transition: color 0.5s;
    line-height: 1.5;
    letter-spacing: -0.2px;
}

.nav_floor2 > li:not(:has(.nav_floor3)) > a:focus,
.nav_floor2 > li:not(:has(.nav_floor3)) > a:hover{
    color: var(--color1-);
}

.nav_floor3{
    display: none;
    width: 100%;
    padding-bottom: 6px;
}

.nav_floor3 > li{
    width: 100%;
}

.nav_floor3 > li > a{
    display: block;
    font-size: 15px;
    color: #666;
    padding: 9px 15px;
    transition: color .5s;
    line-height: 1.3;
}

.nav_floor3 > li > a:hover,
.nav_floor3 > li > a:focus{
    color: var(--color1-);
}

.header_util{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_util > ul{
    display: flex;
    align-items: center;
}

.header_util > ul > li > a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 18px;
}

.hu_ico{
    width: 40px;
}

.hu_ico svg{
    width: 100% !important;
    height: auto !important;
    transition: all .3s ease;
}

.headerActive .hu_ico svg{
    fill: #fff;
}

.navActive .hu_ico svg{
    fill: #000 !important;
}

.lang_select{
    position: relative;
}

.lang_list{
    display: none;
    position: absolute;
    left: 50%;
    top: 100%;
    width: 100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    padding: 0.75rem 0;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.lang_list li{
    width: 100%;
}

.lang_list li a{
    display: block;
    text-align: center;
    font-size: 0.938rem;
    font-weight: 500;
    padding: 0.375rem 0;
}

/* main */

#main{
    width: 100%;
    height: 100vh;
}

.main_container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main_txt_box{
    position: absolute;
    left: 0;
    top: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main_txt_divider{
    display: flex;
    width: 100%;
    height: max-content;
    overflow: hidden;
}

.main_txt_divider:last-of-type{
    justify-content: flex-end;
}

.main_txt_divider h2{
    position: relative;
    padding: 0.875rem 1.25rem 1.25rem 1.25rem;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    display: flex;
    height: max-content;
    font-size: 10rem;
    font-family: var(--Font1-);
    letter-spacing: max(-0.6rem);
    font-weight: 300;
    animation: mainTxtShow .8s ease forwards;
}

@keyframes mainTxtShow{
    to{
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
}

.main_txt_divider:last-of-type h2{
    animation-delay: 0.8s;
}

.main_txt_divider h2 span{
    display: inline-block;
    padding-left: 1.75rem;
    font-size: 9.5rem;
    font-family: var(--Font2-);
    font-weight: 800;
    letter-spacing: max(-0.3rem);
}

.main_txt_divider:first-of-type h2 span{
    padding-left: 1.75rem;
}

.main_txt_divider:last-of-type h2 span{
    padding-right: 1.75rem;
}

.main_visual_slide_box{
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 35%;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    clip-path: polygon(20% 100%, 85% 100%, 85% 30%, 20% 30%);
}

.main_visual_slider{
    position: relative;
    width: 100%;
    height: 100%;
}

.main_visual_slider .swiper-slide{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 3.75rem 1.25rem;
}

.mvs_container{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.mvs_video_box{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.mvs_video_box::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.07);
}

.mvs_video_box video{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.mvs_txt{
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 1.75rem 0;
}

.mvs_txt h2{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
    line-height: 1.1;
}

.mvs_txt h2 span:first-child{
    font-size: 5.5rem;
    font-family: var(--Font1-);
    letter-spacing: -0.1rem;
}

.mvs_txt h2 span:last-child{
    font-size: 5rem;
    font-family: var(--Font2-);
    letter-spacing: -0.1rem;
    font-weight: 700;
}

.mvs_txt p{
    overflow: hidden;
    font-size: 1.125rem;
    color: #fff;
}

.mvs_txt p span{
    position: relative;
    display: inline-block;
    transform: translateY(100%);
    transition: transform .6s;
    transition-delay: 0s;
}

.swiper-slide-active .mvs_txt p span{
    transform: translateY(0);
    transition-delay: 1.6s;
}

.mvs_pagination{
    position: absolute;
    max-width: 1840px !important;
    margin-left: calc((100vw - 1840px) / 2);
    margin-right: calc((100vw - 1840px) / 2);
    left: 0;
    bottom: 3.75rem !important;
    z-index: 3;
}

.mvs_pagination .swiper-pagination-bullet{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent !important;
    opacity: 1;
}

.mvs_pagination .swiper-pagination-bullet::before{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
}

.mvs_pagination .swiper-pagination-bullet svg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    overflow: visible !important;
}

.mvs_pagination .swiper-pagination-bullet svg circle{
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
    stroke-width: 1.5 !important;
}

.mvs_pagination .swiper-pagination-bullet-active svg circle{
    animation: circleAni1 5s linear forwards;
}

@keyframes circleAni1{
    to{
        stroke-dasharray: 157;
        stroke-dashoffset: 0;
    }
}

/* main_about */

.section_inner{
    width: 100%;
}

.section_tit{
    width: 100%;
    margin-bottom: 2.813rem;
}

.section_tit h2{
    display: inline-block;
    overflow: hidden;
    padding-right: 20px;
}

.section_tit h2 span{
    display: inline-block;
    font-size: 5.5rem;
    font-family: var(--Font1-);
    letter-spacing: -0.2rem;
    margin-right: 0.875rem;
}

.section_tit h2 strong{
    display: inline-block;
    font-size: 5rem;
    font-weight: 700;
    font-family: var(--Font2-);
    letter-spacing: -0.25rem;
}

.about_list_area{
    width: 100%;
}

.about_list_top{
    width: 100%;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.about_list_top > div{
    width: 50%;
}

.altp_img{
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.circleClipAni figure img{
    display: block;
    width: 100%;
    object-fit: contain;
    clip-path: circle(15.0% at 56% 41%);
    opacity: 0;
}

.altp_txt_box{
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    padding: 3.75rem;
}

.altp_txt{
    width: calc(100% - 240px);
}

.altp_txt h3{
    font-size: 2.25rem;
    color: var(--color1-);
    font-weight: 700;
    letter-spacing: -0.05rem;
    margin-bottom: 1.375rem;
}

.altp_txt p{
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5;
    word-break: keep-all;
}

.more_btn{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 180px;
}

.about_list_slide_box{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.about_list_slide{
    width: 100%;
    overflow: hidden;
}

.about_list_slide .swiper-wrapper{
    align-self: stretch;
}

.about_list_slide .swiper-slide{
    height: auto;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.about_list_slide .swiper-slide a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 9.375rem 0;
}

.als_box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 2.5rem 0;
}

.als_txt{
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem 0;
}

.als_txt h3{
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: -0.05rem;
    background: linear-gradient(to right, #009944 0 50%, rgba(0, 0, 0, 0.3) 50% 100%);
    background-size: 200%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.als_txt ul{
    display: flex;
    flex-direction: column;
    gap: 1.063rem 0;
}

.als_txt ul li{
    position: relative;
    padding-left: 0.938rem;
}

.als_txt ul li::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0.5745rem;
    width: 0.313rem;
    height: 0.313rem;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.als_txt ul li span{
    display: inline-block;
    font-size: 1.063rem;
    font-weight: 300;
    background: linear-gradient(to right, #000 0 50%, rgba(0, 0, 0, 0.3) 50% 100%);
    background-size: 200%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.5;
    word-break: keep-all;
}

.als_txt h3,
.als_txt ul li span{
    transition: background-position 0.6s;
}

.about_list_slide .swiper-slide a:hover .als_txt h3,
.about_list_slide .swiper-slide a:focus .als_txt h3,
.about_list_slide .swiper-slide a:hover .als_txt ul li span,
.about_list_slide .swiper-slide a:focus .als_txt ul li span{
    background-position: 0 0;
}

.als_img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 16 / 10;
    overflow: hidden;
}

.als_img figure{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    transition: all .5s;
}

.about_list_slide .swiper-slide a:focus .als_img figure,
.about_list_slide .swiper-slide a:hover .als_img figure{
    width: 77%;
    border-radius: 16.6%;
}

.als_img figure img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.als_arrow{
    position: absolute;
    left: 50%;
    bottom: -2.1875rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    background: #000;
    transition: transform .5s;
    transform-origin: center;
}

.about_list_slide .swiper-slide a:focus .als_arrow,
.about_list_slide .swiper-slide a:hover .als_arrow{
    transform: translateX(-50%) rotate(-45deg);
    -webkit-transform: translateX(-50%) rotate(-45deg);
}

/* main_overview */

.overview_list{
    width: 100%;
}

.overview_list ul{
    display: flex;
    gap: 0 1.875rem;
}

.overview_list ul li{
    position: relative;
    width: 100%;
    flex: 1;
    height: auto;
    background: #f5f5f5;
    overflow: hidden;
    transition: all .5s;
}

.overview_list ul li.active{
    flex: 1.8;
    border-radius: 2.5rem;
}

.ovl_img{
    position: relative;
    width: 100%;
    height: 32.5vw;
    overflow: hidden;
    transition: all .5s;
    will-change: transform;
}

.overview_list ul li:not(.active) .ovl_img{
    opacity: 0;
}

.ovl_img::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}


.ovl_img figure{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ovl_img figure img{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.ovl_content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2.5rem;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
}

.ovl_txt{
    display: flex;
    flex-wrap: wrap;
    gap: 2.188rem 0;
}

.ovl_tit{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.overview_list ul li.active .ovl_ico img{
    filter: invert(1);
    -webkit-filter: invert(1);
}

.ovl_tit h3{
    display: inline-block;
    margin: 1.25rem 0 0 0;
    font-size: 1.875rem;
    font-weight: 700;
    color: #333;
    line-height: 1.5;
}

.overview_list ul li.active .ovl_tit h3{
    color: #fff;
    margin: 1.25rem 0;
}

.ovl_tit p{
    font-size: 1.063rem;
    color: #fff;
    line-height: 1.7;
    overflow: hidden;
    max-height: 150px;
    visibility: visible;
    transition: all .5s;
}

.overview_list ul li:not(.active) .ovl_tit p{
    max-height: 0;
    visibility: hidden;
}

.overview_list ul li .more_btn{
    visibility: hidden;
    margin-right: -240px;
    transition: all .5s;
}

.overview_list ul li.active .more_btn{
    visibility: visible;
    margin-right: 0;
}

/* main_infinite_txt */

.main_infinite_txt{
    width: 100%;
    overflow: hidden;
    margin-top: 1.5rem;
}

.main_infinite_txt ul{
    width: max-content;
    white-space: nowrap;
    animation: repeatTxt1 18s linear infinite; 
}

@keyframes repeatTxt1{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-50%);
    }
}

.main_infinite_txt ul li{
    display: inline-block;
    padding: 0 1.5rem;
}

.main_infinite_txt ul li h2{
    display: inline-block;
    height: max-content;
    font-size: 11.25rem;
    font-weight: 400;
    font-family: var(--Font1-);
    opacity: 0.04;
    letter-spacing: -0.5rem;
}

.main_infinite_txt ul li h2 strong{
    font-size: 10rem;
    font-weight: 700;
    font-family: var(--Font2-);
}

/* main_updates */

.ud_slide_box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 100%;
    padding-top: 2.813rem;
    border-top: 1px solid #000;
}

.ud_slide_control{
    display: flex;
    align-items: flex-end;
    width: 240px;
}

.ud_slide_control ul{
    display: flex;
    gap: 0 0.625rem;
}

.ud_slide_control ul li{
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.16);
}

.ud_slide_btn{
    display: block;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
}

.ud_slide_btn.ud_prev{
    transform: rotate(-180deg);
}

.udBtn_arrowBox{
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 100%;
    display: flex;
    transition: all 0.5s;
}

.ud_slide_btn:focus .udBtn_arrowBox,
.ud_slide_btn:hover .udBtn_arrowBox{
    filter: invert(1);
}

.ud_slide_btn.ud_prev .udBtn_arrowBox{
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.ud_slide_btn.ud_prev:hover .udBtn_arrowBox,
.ud_slide_btn.ud_prev:focus .udBtn_arrowBox{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

.ud_slide_btn.ud_next .udBtn_arrowBox{
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.ud_slide_btn.ud_next:hover .udBtn_arrowBox,
.ud_slide_btn.ud_next:focus .udBtn_arrowBox{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}


.udBtn_arrow{
    width: 50%;
    height: 100%;
    background: #fff url('../img/next_icon.svg') center no-repeat;
    background-size: 50%;
}

.ud_prev .udBtn_arrow{
}

.ud_slide{
    width: calc(100% - 240px);
    overflow: hidden;
}

.ud_slide .swiper-slide{
    height: auto;
}

.ud_slide .swiper-slide a{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ud_slide_img{
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 25vw;
}

.ud_slide_img figure{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .7s;
}

.ud_slide .swiper-slide a:hover .ud_slide_img figure,
.ud_slide .swiper-slide a:hover .ud_slide_img figure{
    border-radius: 2.75rem;
}

.ud_slide_img figure img{
    width: 100%;
    object-fit: contain;
    object-position: center;
    transition: all .7s;
}

.ud_slide .swiper-slide a:hover .ud_slide_img figure img,
.ud_slide .swiper-slide a:focus .ud_slide_img figure img{
    transform: scale(1.12);
    -webkit-transform: scale(1.12);
}

.ud_slide_txt{
    margin-top: 1.563rem;
}

.ud_slide_txt h3{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    font-size: 1.125rem;
    color: #222;
    line-height: 1.75rem;
    font-weight: 500;
}